body {
    margin: 0px;
    background-color: #8DA683;
}

h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFF;  
    font-size: 120px;
    margin: 20px;
}

a {
    background-color: #464850;
    font-size: 50px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 300;
    font-style: normal;
    border: none;
    text-decoration: none;
    padding: 30px;
    border-radius: 30px;
    margin-top: 30px;
}