html, body {
    background-color: #464850;
    display : flex;
    justify-content: center;
    align-items: stretch;
    margin:0;
    padding:0;
    height:100%;
}

img {
    position : absolute; 
    top: 0px; 
    left : 0px;
}

h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 96px;
    color: white;
}

.content {
    background-color: #7C9473;
    align-items: stretch;
    padding: 10px 20px;
    display : flex;
    flex-direction : column;
}

.bar {
    background-color: #F9F0F8;
    color : #464850;
    border-radius: 50px;
    font-size : 48px;
    font-family: "Inter", sans-serif;
    align-items: center;
    display:flex;
}
.bar img {
    position : relative;
}