body {
    background-color: #8DA683;
    margin: 0px;
}

.fexRowCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loginContainer {
    background-color: #464850;
    border-radius: 60px;
    width: auto;
    padding: 25px;
    filter: drop-shadow(-4 4 15 black);
}

h2 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #FFFF;  
    font-size: 50px;
    margin-top: 15px;
    margin-left: 15px;
}

input {
    width: calc(100% - 5px);
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 0px;
    padding-left: 5px;
    font-size: 30px;
}

p {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #FFFF;  
    font-size: 30px;
    
    margin-top: 20px;
    margin-bottom: 5px;
}

a {
    color: #FFFF;
}

#submitBtn {
    background-color: #A8D5B1;
    color: black; 

    margin-top: 50px;
    
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;

    border: none;

    width: 100%;

    height: 60px;
}

#submitBtn:hover {
    background-color: #a8d198;
    transition: 0.5s;
}

textarea {
    color: black; 
    width: calc(100% - 5px);
    height: 100px;
    resize: none;
    border-radius: 10px;
    border: none;
    padding: 0px;
    padding-left: 5px;
    padding-top: 4px;
    font-size: 30px;
}

#btnBack {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
} 

.err {
    font-weight: bold;
    font-size: 28px;
    color: rgb(226, 69, 69);
    text-align: center;
}